header{
    background-color: rgb(238, 158, 8);
    padding: 24px;
}

form{
    margin-top: 24px;
    border-radius: 5%; /*colocando a borda arredondada no formulário*/
    width: 300px; /*largura do formulário*/
    box-shadow: 0 0 10px rgb(168, 163, 163); /*configurano o sombreado que fica envolta do formulário*/
    padding: 20px;
}

input{
    margin-bottom: 8px;
}


